export(hill_model)
export(plot_hill)
export(compute_transit_time)
export(model_p50)
export(model_oxy_dash)
export(compute_oxygen_capacity)
export(compute_oxygen_capacity_2)
export(compute_oxygen_dash)
